section#presentation
  h1 Quem sou eu?
  img(src="img/profile-picture.jpg", alt="Guilherme Ventura", width="250").profile-picture
  ul#author-links
    li#twitter: a(href="https://twitter.com/danguilherme" target="_BLANK") @danguilherme
    li#github: a(href="https://github.com/danguilherme" target="_BLANK") /danguilherme
    li#website: a(href="http://guilhermeventura.net" target="_BLANK") guilhermeventura.net
  //- section(data-background="http://i.imgur.com/iZcUNxH.gif")