section
  section
    h1 Twitter
    <blockquote class="twitter-tweet" lang="en"><p>Work hard, never stop learning, create remarkable things, help others and always stop to enjoy the moment. It&#39;s really that simple.</p>&mdash; David Cancel (@dcancel) <a href="https://twitter.com/dcancel/status/443831291625361408">March 12, 2014</a></blockquote>