section
  section
    h1 Links Úteis

  section(data-state="background-with-legend", data-background="img/custom-elements-ss.png"/*, data-background-iframe="https://customelements.io/"*/)
    p.background-legend
      a(href="https://customelements.io/" target="_BLANK") customelements.io