section#manter-atualizado
  section
    h1 Mantendo-se #[strong atualizado]

    aside.notes
      p Como essa é uma tecnologia emergente, muita coisa pode ser mudada.

  section(data-state="background-with-legend", data-background="img/webcomponents.org-ss.png"/*, data-background-iframe="http://webcomponents.org/"*/)
    p.background-legend
      a(href="http://webcomponents.org/" target="_BLANK") webcomponents.org

    aside.notes
      p Site focado na disseminação de informação sobre os Web Components, com artigos para todos os níveis.

  section(data-state="background-with-legend", data-background="img/custom-elements-ss.png"/*, data-background-iframe="https://customelements.io/"*/)
    p.background-legend
      a(href="https://customelements.io/" target="_BLANK") customelements.io

  section(data-state="background-with-legend", data-background="img/webcomponentsweekly-ss.png"/*, data-background-iframe="http://webcomponentsweekly.me/"*/)
    p.background-legend
      a(href="http://webcomponentsweekly.me/" target="_BLANK") webcomponentsweekly.me

    aside.notes
      p A Web Components weekly é bem nova, ainda não tem muitos contribuidores, mas ainda assim é uma grande fonte para as novidades da tecnologia.
  
  section(data-background="#55acee")#tweet
    h1 #[i.fa.fa-twitter] Twitter

    ul
      li: a(href="https://twitter.com/Web_Components" target="_BLANK") @Web_Components
      li: a(href="https://twitter.com/zenorocha" target="_BLANK") @zenorocha
      li: a(href="https://twitter.com/rob_dodson" target="_BLANK") @rob_dodson
      li: a(href="https://twitter.com/polymer" target="_BLANK") @polymer

    aside.notes
      p.
        Sim, o Twitter. É uma ótima plataforma, na verdade. São notícias curtas, com ou sem links, que você pode acompanhar.
        Existem boas discussões lá, e você pode acompanhar as mudanças enquanto elas acontecem.