section
  section
    h1 Como se manter 
      strong atualizado

    aside.notes
      p Como essa é uma tecnologia emergente, muita coisa pode ser mudada.

  section(data-state="background-with-legend"/*, data-background="img/webcomponents.org-ss.png"*/, data-background-iframe="http://webcomponents.org/")
    p.background-legend
      a(href="http://webcomponents.org/" target="_BLANK") webcomponents.org

  section(data-state="background-with-legend"/*, data-background="img/webcomponentsweekly-ss.png"*/, data-background-iframe="http://webcomponentsweekly.me/")
    p.background-legend
      a(href="http://webcomponentsweekly.me/" target="_BLANK") webcomponentsweekly.me

    aside.notes
      p A Web Components weekly é bem nova, ainda não tem muitos contribuidores, mas ainda assim é uma grande fonte para as novidades da tecnologia.