section#quero-usar-hoje
  section
    h1 Quero Usar Hoje

    ul
      li.polymer #[object(type="image/svg+xml" data="img/polymer-logo.svg")] #[a(href="https://www.polymer-project.org/" target="_BLANK") Polymer]
      li.x-tags #[img(src="img/x-tags-logo.png", alt="X-Tags - Logo", width="99")] #[a(href="http://x-tags.org/" target="_BLANK") X-Tags]
      li.bosonic #[img(src="img/bosonic-logo.png", alt="Bosonic - Logo", width="99")] #[a(href="http://bosonic.github.io/" target="_BLANK") Bosonic]

    aside.notes
      p.
        É notável que a dificuldade para criar o componente só cresce com sua complexidade.
        Existem bibliotecas para facilitar sua criação. Após essa abordagem direta, crua sobre os Web Components,
        aprender uma biblioteca sobre isso não será nada demais.