section
  section
    h1 Fragments
    p Mostre conteúdo parcialmente, enquanto fala.
  section
    h1
      code .fragment
    ul
      li.fragment item1
      li.fragment item2
      li.fragment item3
      li.fragment item4
  section
    h1
      code .fragment.grow
    ul
      li.fragment.grow item1
      li.fragment.grow item2
      li.fragment.grow item3
      li.fragment.grow item4
  section
    h1
      code .fragment.shrink
    ul
      li.fragment.shrink item1
      li.fragment.shrink item2
      li.fragment.shrink item3
      li.fragment.shrink item4
  section
    h1
      code .fragment.zoom-in
    ul
      li.fragment.zoom-in item1
      li.fragment.zoom-in item2
      li.fragment.zoom-in item3
      li.fragment.zoom-in item4
  section
    h1
      code .fragment.roll-in
    ul
      li.fragment.roll-in item1
      li.fragment.roll-in item2
      li.fragment.roll-in item3
      li.fragment.roll-in item4
  section
    h1
      code .fragment.fade-out
    ul
      li.fragment.fade-out item1
      li.fragment.fade-out item2
      li.fragment.fade-out item3
      li.fragment.fade-out item4
  section
    h1
      code .fragment.semi-fade-out
    ul
      li.fragment.semi-fade-out item1
      li.fragment.semi-fade-out item2
      li.fragment.semi-fade-out item3
      li.fragment.semi-fade-out item4
  section
    h1
      code .fragment.strike
    ul
      li.fragment.strike item1
      li.fragment.strike item2
      li.fragment.strike item3
      li.fragment.strike item4
  section
    h1
      code .fragment.current-visible
    ul
      li.fragment.current-visible item1
      li.fragment.current-visible item2
      li.fragment.current-visible item3
      li.fragment.current-visible item4
  section
    h1
      code .fragment.highlight-red
    ul
      li.fragment.highlight-red item1
      li.fragment.highlight-red item2
      li.fragment.highlight-red item3
      li.fragment.highlight-red item4
  section
    h1
      code .fragment.highlight-current-red
    ul
      li.fragment.highlight-current-red item1
      li.fragment.highlight-current-red item2
      li.fragment.highlight-current-red item3
      li.fragment.highlight-current-red item4