section#titulo
  object(type="image/svg+xml" data="img/webcomponents-icons/custom-elements/custom-elements.svg").custom-elements-image.slide-image
  object(type="image/svg+xml" data="img/webcomponents-icons/logo/logo.svg").web-components-logo.slide-image
  object(type="image/svg+xml" data="img/webcomponents-icons/templates/templates.svg").templates-image.slide-image

  h1 Web Components
  p  Workshop guia para o desenvolvimento de Web Components

  object(type="image/svg+xml" data="img/webcomponents-icons/shadow-dom/shadow-dom.svg").shadow-dom-image.slide-image
  object(type="image/svg+xml" data="img/webcomponents-icons/html-imports/html-imports.svg").html-imports-image.slide-image