section
  section
    h1 Web Components
      small O futuro da Web

    aside.notes
      p A web está ultrapassada.
      p A cada dia que passa novas tecnologias surgem, temos aplicações mais complexas e consequentemente os usuários ficam mais exigentes.

  section
    h1 Pilares
    ul
      li.fragment: a(href="http://w3c.github.io/webcomponents/spec/custom/", target="_BLANK") Custom Elements
      li.fragment: a(href="http://w3c.github.io/webcomponents/spec/shadow/", target="_BLANK") Shadow DOM
      li.fragment: a(href="http://www.w3.org/TR/html5/scripting-1.html#the-template-element", target="_BLANK") Templates
      li.fragment: a(href="http://w3c.github.io/webcomponents/spec/imports/", target="_BLANK") HTML Imports

    aside.notes
      p Os web components estão baseados em 5 pilares da especificação do HTML 5