doctype html
html(lang="pt-br")
  include inc/head
  body
    .reveal
      #background-legend: p.legend-text
      .slides
        include ../slides/titulo
        include ../slides/apresentacao
        include ../slides/web-components-intro
        include ../slides/custom-elements
        include ../slides/shadow-dom
        include ../slides/template
        include ../slides/import
        include ../slides/manter-atualizado
        include ../slides/links-uteis
    include inc/scripts
