script(src="js/vendor/head.min.js")
script(src="js/vendor/reveal.min.js")
script(src="js/main.js")

script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
script(async defer src="//platform.instagram.com/en_US/embeds.js")