@import "vendor/reveal"
@import "vendor/white"
@import "vendor/zenburn"

section
  h1
    code
      text-transform none
  .twitter-tweet
    width 100% !important
    max-width 100% !important
    
    display: inline-block;
    padding: 16px;
    margin: 10px 0;
    max-width: 468px;
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    color: #000;
    p
      margin: 0 5px 10px 0;
    a[href^="https://twitter.com"]
      font-weight: normal;
      color: #666;
      font-size: 0.8em;