@import "vendor/reveal"
@import "vendor/white"
@import "vendor/zenburn"

.chrome-only,
.firefox-only
  display none
  
.chrome .chrome-only,
.firefox .firefox-only
  display inherit

#background-legend
  position absolute
  bottom 0
  left 0
  right 0
  
  opacity 0
  transition opacity .7s linear
  
  padding .3em
  
  z-index 2
  text-align center
  
  color white
  background-color rgba(0,0,0,.7)
  p
    margin 0
    text-shadow 1px 1px 1px black
    a
      color inherit
  
.background-with-legend #background-legend
  opacity 1

.reveal.overview .background-legend
    display inherit

section
  .background-legend
    display none
  &#presentation
    > section
      text-align left
    
    #author-links
      font-family Consolas, monospace
      list-style none
      margin 2em 0
      text-align left
      
      a
        color inherit
      ::before
        font-family FontAwesome
        display inline-block
        margin-right .3em
        vertical-align middle
      #twitter::before
        content '\f099'
      #github::before
        content '\f09b'
      #website::before
        content '\f0ac'
      
    img.profile-picture
      border-radius 50%
      float right

  h1
    code
      text-transform none
  .twitter-tweet
    width 100% !important
    max-width 100% !important
    
    display: inline-block;
    padding: 16px;
    margin: 10px 0;
    max-width: 468px;
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    color: #000;
    p
      margin: 0 5px 10px 0;
    a[href^="https://twitter.com"]
      font-weight: normal;
      color: #666;
      font-size: 0.8em;

code
  background-color #F5F5F5
  border-radius 5px

#em-desenvolvimento
  ul
    margin 0
    padding 0
    font-size 0.9em
    &>li
      display inline-block
      width 45%
      &.chrome 
        float left
        padding-right 15px
      &.firefox
        border-left 5px #666 groove
        padding-left 15px
  ol
    margin-left 1.5em

#import
  ol
    width 100%
    li > pre
      margin-left 0